Ejercicio 25

In [3]:
potencia = lambda base, exponente: 1 if exponente == 0 else base * potencia(base, exponente - 1)

# Mafe aqui están las variables de base y exponente
base = 3
exponente = 4

# Mafe aqui se hace el print
resultado = potencia(base, exponente)
print(f"{base} elevado a {exponente} es: {resultado}")

3 elevado a 4 es: 81

In [5]:
def calcular_potencia(base, exponente):
    resultado = 1
    for _ in range(abs(exponente)):
        resultado *= base

    # Mafe si el exponente es negativo, se devuelve el inverso
    if exponente < 0:
        return 1 / resultado
    return resultado

# Ejemplo de uso:
base = float(input("Escribe la base: "))
exponente = int(input("Escribe el exponente: "))

potencia = calcular_potencia(base, exponente)
print(f"{base} elevado a {exponente} es: {potencia}")

Escribe la base: 4
Escribe el exponente: 5
4.0 elevado a 5 es: 1024.0

Ejercicio 26

In [7]:
tabla_multiplicar = lambda n: [print(f"{n} x {i} = {n*i}") for i in range(1, 11)]


for i in range(1, 11):
    print(f"\nTabla del {i}:")
    tabla_multiplicar(i)

Tabla del 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla del 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla del 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla del 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla del 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla del 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla del 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla del 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla del 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabla del 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [9]:
def tablas_multiplicar(n):
    for i in range(1, 11):
        print(f"{n} x {i} = {n * i}")


for i in range(1, 11):
    print(f"\nTabla del {i}:")
    tablas_multiplicar(i)

Tabla del 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla del 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla del 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla del 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla del 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla del 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla del 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla del 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla del 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabla del 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Ejercicio 27

In [16]:
divisores = lambda num: [i for i in range(1, num) if num % i == 0]

perfecto = lambda num: sum(divisores(num)) == num

def encontrar_numeros_perfectos(n):
    return [num for num in range(2, n+1) if perfecto(num)]

n = int(input("Introduce el valor de n: "))

numeros_perfectos = encontrar_numeros_perfectos(n)
print(f"Los números perfectos hasta {n} son: {numeros_perfectos}")

Introduce el valor de n: 376
Los números perfectos hasta 376 son: [6, 28]

In [17]:
def divisores(num):
    divi = []
    for i in range(1, num):
        if num % i == 0:
            divi.append(i)
    return divi

def perfecto(num):
    return sum(divisores(num)) == num

def encontrar_numeros_perfectos(n):
    perfectos = []
    for num in range(2, n+1):
        if perfecto(num):
            perfectos.append(num)
    return perfectos

n = int(input("Introduce el valor de n: "))

numeros_perfectos = encontrar_numeros_perfectos(n)
print(f"Los números perfectos hasta {n} son: {numeros_perfectos}")

Introduce el valor de n: 567
Los números perfectos hasta 567 son: [6, 28, 496]

Ejercicio 28

In [18]:
generar_parte_superior = lambda n: [print(' ' * (n - i) + '*' * (2 * i - 1)) for i in range(1, n + 1)]

generar_parte_inferior = lambda n: [print(' ' * (i) + '*' * (2 * (n - i) - 1)) for i in range(1, n)]

def generar_diamante(n):
    generar_parte_superior(n)
    generar_parte_inferior(n)

n = int(input("Introduce el número de filas para el diamante: "))

generar_diamante(n)

Introduce el número de filas para el diamante: 3
  *
 ***
*****
 ***
  *

In [19]:
def generar_parte_superior(n):
    for i in range(1, n + 1):
        print(' ' * (n - i) + '*' * (2 * i - 1))

def generar_parte_inferior(n):
    for i in range(1, n):
        print(' ' * i + '*' * (2 * (n - i) - 1))


def generar_diamante(n):
    generar_parte_superior(n)
    generar_parte_inferior(n)

n = int(input("Introduce el número de filas para el diamante: "))

generar_diamante(n)

Introduce el número de filas para el diamante: 7
      *
     ***
    *****
   *******
  *********
 ***********
*************
 ***********
  *********
   *******
    *****
     ***
      *

Ejercicio 29

In [20]:
es_armstrong = lambda x: x == sum(int(d)**len(str(x)) for d in str(x))

encontrar_armstrong = lambda n: [x for x in range(n) if es_armstrong(x)]

n = int(input("Introduce el valor de n: "))

print(f"Números Armstrong hasta {n}: {encontrar_armstrong(n)}")

Introduce el valor de n: 5
Números Armstrong hasta 5: [0, 1, 2, 3, 4]

In [22]:
def es_armstrong(x):
    num_str = str(x)
    num_digitos = len(num_str)
    suma = sum(int(digit) ** num_digitos for digit in num_str)
    return x == suma

def encontrar_armstrong(n):
    armstrong_numeros = []
    for x in range(n):
        if es_armstrong(x):
            armstrong_numeros.append(x)
    return armstrong_numeros

n = int(input("Escribe el valor de n: "))

print(f"Números Armstrong hasta {n}: {encontrar_armstrong(n)}")

Escribe el valor de n: 23
Números Armstrong hasta 23: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Ejercicio 30

In [24]:
import time

obtener_hora = lambda h, m, s: f"{h:02}:{m:02}:{s:02}"

incrementar_segundos = lambda h, m, s: (h, m, s + 1) if s < 59 else (h, m + 1, 0)

def reloj_digital(duracion):
    h, m, s = 0, 0, 0
    tiempo_inicial = time.time()

    while time.time() - tiempo_inicial < duracion:

        print(obtener_hora(h, m, s), end='\r')
        time.sleep(1)


        h, m, s = incrementar_segundos(h, m, s)

duracion = int(input("Escribe la duración en segundos para simular el reloj digital: "))

reloj_digital(duracion)

Escribe la duración en segundos para simular el reloj digital: 4

In [25]:
import time

def obtener_hora(h, m, s):
    return f"{h:02}:{m:02}:{s:02}"

def incrementar_segundos(h, m, s):
    if s < 59:
        s += 1
    else:
        s = 0
        if m < 59:
            m += 1
        else:
            m = 0
            h += 1
    return h, m, s

def reloj_digital(duracion):
    h, m, s = 0, 0, 0
    tiempo_inicial = time.time()

    while time.time() - tiempo_inicial < duracion:

        print(obtener_hora(h, m, s), end='\r')
        time.sleep(1)
        h, m, s = incrementar_segundos(h, m, s)

duracion = int(input("Escribe la duración en segundos para simular el reloj digital: "))

reloj_digital(duracion)

Escribe la duración en segundos para simular el reloj digital: 3